body {
  background-color: var(--gray);
  text-align: center;
  color: var(--darkFont);
  font-family: 'Lato', sans-serif;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 13px;
}

.button--primary {
  background-color: var(--primaryBtn);
  border: 1px solid var(--primaryBtn);
  color: var(--darkFont);
}

.button--danger {
  background-color: var(--dangerBtn);
  border: 1px solid var(--dangerAccent);
  color: var(--white);
}

.button:hover {
  box-shadow: 1px 1px 1px var(--black);
}

.content {
  margin: 25px;
}

.coordinates-set > label {
  margin: 0 15px;
}

.coords {
  width: 40px;
  margin-left: 10px;
}

div.result-container > p {
  font-weight: 700;
}

.result {
  color: #2A2A2A;
  font-size: 1.25rem;
  word-spacing: 2rem;
}

.canvas__container {
  height: 700px;
  width: 700px;
  position: relative;
  overflow: auto;
}

.chart__canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.chart__canvas-grid {
  overflow: scroll;
  z-index: 0;
}

.chart__canvas-points {
  z-index: 1;
}
